<div>
    <p>Ваше раніше створене замовлення на сайті видавництва ТНТУ було підтверджене та відправлене</p>

    <p>Номер декларації відправлення Новою Поштою: <a href="{{novaPostaTrackUrl}}">{{ttn}}</a></p>

    <p>Переглянути своє замовлення ви можете тут: <a href="{{orderURL}}">{{orderURL}}</a></p>
</div>