<div>
    <p>Ви щойно зробили замовлення на сайті видавництва ТНТУ</p>

    <p>Переглянути своє замовлення ви можете тут: <a href="{{orderURL}}">{{orderURL}}</a></p>

    <p>Ниже написано реквізити для оплати вашого замовлення</p>

    <br>
    <br>

    {{{paymentInfo}}}

    <br>
    <br>

    <p>Прикріпіть квитанцію про оплату до вашого замовлення.</p>

    <p>Це можна зробити на сторінці, на яку ви були направлені після створення замовлення.</p>

    <p>Також посилання на цю сторінку було відправлено на вашу електронну адресу.</p>

    <p>Також можете надіслати лист з копією квитанції на одину із наступних адрес:</p>

    <p>E-mail: vydavnytstvo@mail.ru або vydavnytstvo@tu.edu.te.ua.</p>
</div>