<template name="forCustomers">
    <h3>Покупцям</h3>

    <p>Видавництво Тернопільського національного технічного університету реалізовує поліграфічну продукцію власного
        виробництва, відсилаючи книги Укрпоштою або кур’єрською службою «Нова пошта».</p>

    <p>Щоб замовити книгу, знайдіть її у каталозі видавництва, який розташовано на головній сторінці цього сайту, та
        натисніть кнопку «Купити» розташовану під описом книги.</p>

    <p>Каталог поділено на розділи Наукові видання – Монографії, Наукові видання – Інші, Навчальні видання,
        Громадсько-політичні та літературно-художні видання. Для переходу у розділи використовуйте меню розташоване у
        лівій колонці сторінок сайту. Книги у каталозі розташовані у порядку їх видання, починаючи з найновіших.</p>

    <p>Також Ви можете використати пошук за прізвищем автора або назвою або словами з книги. Для цього використовуйте
        форму пошуку розташовану у лівій колонці сторінок сайту.</p>

    <p>Для детального ознайомлення з книгою перед її замовленням натисніть по назві книги і Ви перейдете на сторінку
        цього видання, де приведено його зміст та
        бібліографічні дані. Крім того можна переглянути фрагмент книги у форматі PDF. Для цього перейдіть по посиланню
        «Pdf зразок» розташованому під анотацією книги. Інші публікації кожного з авторів книги, видані
        у видавництві Вінницького національного технічного університету, можна переглянути, натиснувши на прізвище
        автора перед назвою книги. Щоб повернутися назад до каталогу видань, натисніть у своєму браузері кнопку
        повернення на попередню сторінку.</p>

    <p>Коли Ви натиснете кнопку «Купити», книгу буде додано до кошика.</p>

    <p>Для перегляду вашого кошика, відкрийте ліве меню, та знайдіть і натисність на пункт "Кошик". В кошику
        відображаються всі додані вами видання. Ви можете змінювати їх кількість, або видаляти. Можна очистити
        корзину. Для оформлення замовлення натисніть на кнопку "Замовити". Після чого у відкритому вікні заповніть
        необхідні поля.</p>

    <p>Після створення замовлення, ви будете переміщені на сторінку зробленого замовлення, в якому будуть усі деталі.
        Щоб ваше замовлення було виконане, потрібно його оплатити(реквізити вказані в замовленні, також надсилаються на
        вказану вами електронну адресу), та прикріпити до замовлення зображення копії квитанції про оплату.</p>

    <p>Юридичним особам та оптовим покупцям після оформлення замовлення на сайті потрібно звернутись за
        vydavnytstvo@mail.ru або vydavnytstvo@tu.edu.te.ua. для оформлення необхідних документів.</p>
</template>